@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm111lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #68EACC, #497BE8);
}
.wrapper {
  max-width: 600px;
  width: 100%;
  border-radius: 0.5rem;
  padding: 25px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper header {
  font-size: 30px;
  font-weight: 600;
  background-color: #FFF;
  color: #0B85FF;
  border: 1px solid #CCC;
  width: 100%;
  text-align: center;
  border-radius: inherit;
  margin-bottom: 20px;
}
.wrapper .inputField {
  display: flex;
  height: 45px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.wrapper .inputField input {
  width: 85%;
  height: 40px;
  border: 1px solid #CCC;
  outline: none;
  padding: 8px 12px;
  border-radius: 0.5rem;
}
.wrapper .inputField button {
  border: 1px solid #CCC;
  color: #0B85FF;
  width: 40px;
  height: 40px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-left: 5px;
  transition: 0.2s ease-in-out;
}
.wrapper .inputField button path {
  stroke: #0B85FF;
  transition: 0.2s ease-in-out;
}
.wrapper .inputField button:hover {
  background-color: #0B85FF;
  color: #FFF;
  border-color: transparent;
}
.wrapper .inputField button:hover path {
  stroke: #FFF;
}
.wrapper .inputField button.disable {
  opacity: 0.6;
  pointer-events: none;
}
.wrapper .list {
  display: block;
  margin: 10px 0;
  width: 100%;
  overflow-y: auto;
  padding-top: 20px;
}
.wrapper .list li {
  line-height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.wrapper .list li span {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: #FFF;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  transform: translateY(-2px);
  border-radius: 0.5rem;
  border: 1px solid #CCC;
}
.wrapper .list li span svg path {
  stroke: #111;
}
.wrapper .list li span:hover {
  border-radius: 100%;
}
.wrapper .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: #FFF;
  width: 100%;
  font-size: 18px;
  border: 1px solid #CCC;
  border-radius: 0.5rem;
  padding: 6px 15px;
  color: #0B85FF;
  font-weight: 500;
}
.wrapper .footer button {
  padding: 5px 6px;
  background-color: #FFF;
  color: #0B85FF;
  border: 1px solid #CCC;
  border-radius: 0.5rem;
  cursor: pointer;
}
.wrapper .footer button:hover {
  background-color: #0B85FF;
  color: #FFF;
  border-color: transparent;
}
